*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-right: 20px;
  }
  
  .nav-menu li:last-child {
    margin-right: 0;
  }
  
  .nav-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .login-signup {
    display: flex;
  }
  
  .login-signup a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .login-signup a:first-child {
    margin-left: 0;
  }

  section{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items:center;
  }
  